body,
html {
  background-image: url("https://i.imgur.com/xhiRfL6.jpg");
  height: 100%;
}
#caja {
  margin-top: 20%;
}
h1 {
  font-size: 55px;
}
#inputtext {
  width: 53%;
  height: 25px;
  margin: auto;
}
#profile-img {
  height: 10%;
  width: 40%;
}
.h-80 {
  height: 80% !important;
}
